<app-nav-bar></app-nav-bar>
<app-cart-form (itemAdd)="addNewItem($event)"></app-cart-form>
<hr>
<div class="items">
    <h2 class="text-center">Shopping Items</h2>
    <button class="btn btn-danger empty-button" (click)="emptyCart()">Empty Cart</button>
    <table class="table table-condensed">
        <tr>
            <th>Item</th>
            <th>Price</th>
        </tr>
        <tr *ngFor='let item of items'>
            <td>{{ item.name }}</td>
            <td>{{ item.cost }}</td>
        </tr>
        <tr class="totals-row">
            <td>Total Price: </td>
            <td>{{ totalCost }}</td>
        </tr>
    </table>
</div>